 body{
margin: 0;	 
	 
 }
 
 .bg{
	
	 /* Set a specific height */
    height: 700px; 
	 
 }
 
 .bg-1 { 
    /* The image used */
    background-image: url("../img/1.jpg");
	height: 1000px; 
}

.content{
	background-color: #888888;
	color: #FFFFFF;
	padding: 24px;
	font-size: 32px;
	text-align: center;
	height: 150px;
}


.bg-2 { 
    /* The image used */
    background-image: url("../img/2.jpg");

    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg{
		  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}